.card{
    height: 100px;
    width: 50%;
    background:  #240ba0;
    color: #fff ;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.card strong{
    font-size: 18px;
}